<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS - SHOW</title>
</head>

<body>

  <h2>Registros<h2>
      <table border="1">
        <thead>
          <tr>
            <td>Nome</td>
            <td>Sobrenome</td>
            <td>Ações</td>
          </tr>
        </thead>
        <tbody>
          <% data.forEach( function(details) { %>
          <tr>
            <td><%= details.name %></td>
            <td><%= details.surname %></td>
            <td>
              <form action="/edit/<%=details._id %>" method="GET">
                <button type="submit">
                  Editar
                </button>
              </form>
              <form action="/view/<%= details._id %>" method="GET">
                <button type="submit">
                  Detelhes
                </button>
              </form>
              <form action="/api/data/delete/<%= details._id %>" method="DELETE">
                <button type="submit">
                  Delete
                </button>
              </form>

            </td>
          </tr>
          <% }) %>
        </tbody>
        <button><a href="/">Voltar</a></button>
</body>

</html>